.highlight {
    color: #888;
}

tr td.highlight, th.highlight {
    background-color: #bbffbb;
}

tr.highlight td {
    background-color: #ffaacc;
}

tr.highlight td.highlight {
    color: red;
    background-color: #ffff00;
}